<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.blog.model.Student" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="Sname" property="sname" jdbcType="VARCHAR" />
    <result column="Sage" property="sage" jdbcType="TIMESTAMP" />
    <result column="Ssex" property="ssex" jdbcType="VARCHAR" />
  </resultMap>
</mapper>